{% extends "base.html" %}

{% set title = 'profile' %}

{% block content %}
    <section>

      <header>
        <h1>{{ title }}</h1>
      </header>
      <div class="popup-inner">
      <div class="row">
        <form action="/delete_account" method="post">
        <a href="/profile" class="cancel-btn"><i class="fas fa-times"></i></a>
        <h4>Do you really want to delete your account?</h4>
        <input type="text" name="confirm" id="confirm" placeholder="print DELETE">
        <input type="password" name="password" id="password" placeholder="password">
        <input type="submit" class="warning" value="delete account" id="delete">
       </form>
      </div>
      </div>
  </section>

{% endblock %}