{% extends "base.html" %}

{% set title = 'main' %}


{% block content %}
    {% if session %}

        <section>
       <hgroup>
           <h2>main page</h2>
      </hgroup>
        </section>

    {% else %}
    <section class="banner">

      <hgroup>
        <h2>{{ app.config['site']['site_name'] }}</h2>
        <h3>Collect your data</h3>
      </hgroup>

            <form id="signup-form" action="/signup" method="post">
                <div class="row">
                <input type="email" name="email" placeholder="email">
                </div>

                <div class="row">
                <input type="password" name="password" placeholder="password">
                </div>

                <div class="row">
                <input type="submit" value="signup" class="success">
                </div>
            </form>
    </section>
    {% endif %}
{% endblock %}