{% extends "base.html" %}

{% set title = 'login to notify' %}

{% block content %}
    <section>

      <header>
        <h2>{{ title }}</h2>
      </header>
        <div class="row">
            <form id="login-form" action="/login" method="post">
                <div class="row">
                <input type="email" name="email" placeholder="email">
                </div>
                <div class="row">
                <input type="password" name="password" placeholder="password">
                </div>
                <div class="row">
                <input type="submit" value="login" class="success">
                </div>
            </form>
        </div>

        <div class="row">
            <p>New to notify? <a href="signup">Create an account</a>.</p>
        </div>
    </section>
{% endblock %}